html
	head
		style(src="./css/index.css")
	body
		div.learning 
			div.pay_success
				div.text_success 购买成功
				p.text_point 请点击下方按钮开始听课
				button.learn_btn 开始听课
			div.course_info
				p.course_title 课程信息 :  
				p.course_text 每日一句古诗文课程【二年级】